* {
    box-sizing: border-box;
}

/* Colores que se van usando */
:root {
    --primary: #ff7eb3; --secondary: #ff758c; --text: #222; --bg: #f7f7f7; --soft: #fff0f5;
}

section {
    margin-bottom: 30px;
}
/* Ropa Destacados */
.destacados {
    padding: 40px 30px; background: #fff0f5;
}

.destacados h2 {
    text-align: center; margin-bottom: 30px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7; color: #222; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 0; letter-spacing: 0.3s;
}

main {
    flex: 1;
}

.encabezado {
    text-align: center; padding: 20px;
    box-shadow: 0 -6px 5px 5px;
}

.nav {
    display: flex; justify-content: center; gap: 30px; margin-top: 10px;
}

.nav a {
    text-decoration: none; color: var(--text); font-size: 14px; position: relative;
}

.nav a::after {
    content: ""; position: absolute; width: 0%; height: 2px; background: var(--primary); left: 0; bottom: -5px; transition: 0.3s;
}

.nav a::hover::after {
    width: 100%;
}

.titulo {
    font-size: 32px; letter-spacing: 2px; color:#ff7eb3;
}

/* Banner */
.banner {
    height: 80vh; position: relative; overflow: hidden;
}

/* Configuración visual del video */
.video-banner{
    width: 100%; height: auto;
}
.banner::before {
    content: ""; position: absolute; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.1);
}

.texto-banner {
    position: absolute; color: white; top: 50%; left: 10%; transform: translateY(-50%); z-index: 2;
}

.texto-banner h2 {
    font-size: 40px; margin: 0;
}

.texto-banner p {
    margin: 10px 0
}

/* Grid */
.galeria {
    display: grid; grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); gap: 25px; padding: 30px;
}

/* Tarjetas */
.tarjeta {
    color: black;
    text-decoration: none;
    background: white; border-radius: 15px; padding: 12px; transition: 0.3s; overflow: hidden; box-shadow: 0 5px 15px rgba(0,0,0,0.05); position: relative; cursor: pointer;
}

.tarjeta::before {
    content: ""; position: absolute; width: 100%; height: 220px; background: rgba(0,0,0,0.2); border-radius: 10px; opacity: 0; transition: 0.3s;
}

.tarjeta::hover::before {
    opacity:1;
}

.tarjeta:hover{
    transform: translateY(-10px); box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.tarjeta img {
    width: 100%; height: 220px; object-fit: cover; border-radius: 10px; transition: 0.3s;
}

.tarjeta:hover img {
    transform: scale(1.05);
}

.tarjeta:hover .btn-overlay {
    opacity: 1; bottom: 10px;
}

.tarjeta h3 {
margin: 10px 0 5px;
}

/* Tag */
.tag {
    position: absolute; top: 10px; left: 10px; background: #ff7eb3; color: white; padding: 5px 10px; border-radius: 10px; font-size: 12px;
}

/* Precios */
.precio {
    color: #ff758c; font-weight: bold;
}

/* Botones */
.boton {
    background: linear-gradient(45deg, #ff7eb3, #ff758c); border: none; padding: 10px 18px; border-radius: 25px; color: white; cursor: pointer; font-weight: bold; transition: 0.3s;
}

.boton:hover {
    transform: scale(1.05);
}

.img-container {
    position: relative;
}

.btn-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text);
    border: none;
    opacity: 0;
    transition: 0.3s;
}

/* ----------------- DETALLES ----------------- */

.section-detalles {
    display: flex;
    padding: 50px;
}

.detalles-img {
    width: 50%;
}

.detalles-img img {
    width: 100%;
}

.detalles {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.detalles h1, .detalles h3, .detalles p {
    margin-top: 0;
    margin-bottom: 10px;
}

/* ----------------- /DETALLES ----------------- */


.pie {
    background-color: #222; color: white; padding: 30px; margin-top: 40px;
}

.contenido-pie {
    display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 20px;
}

.pie h3, .pie h4 {
    margin-bottom: 10px;
}

.pie p {
    color: #bbb;
}

.copyright {
    text-align: center; margin-top: 20px; font-size: 15px;
}

/* Responsive */
@media (max-width: 768px) {
    .texto-banner h2 {
        font-size: 28px;
    }
    .texto-banner {
        left: 5%;
    }
    .galeria {
        padding: 20px; gap: 15px;
    }
}